<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>马户</string>
	<string>邓文迪</string>
	<string>马云</string>
	<string>梁山伯</string>
	<string>祝英台</string>
	<string>张山</string>
	<string>汤唯</string>
	<string>梁朝伟</string>
	<string>沈佳宜</string>
	<string>赵本山</string>
	<string>王林</string>
	<string>tom</string>
	<string>jock</string>
	<string>朝阳</string>
	<string>深圳</string>
	<string>广州</string>
	<string>北京</string>
	<string>上海</string>
	<string>贵州</string>
	<string>茅台</string>
	<string>😂😂😂</string>
	<string>彭蕾</string>
	<string>董明珠</string>
	<string>王健林</string>
	<string>李彦宏</string>
	<string>赵子龙</string>
	<string>曹操</string>
	<string>刘备</string>
	<string>关羽</string>
	<string>杭州</string>
	<string>微信</string>
	<string>倪萍</string>
	<string>沈阳</string>
</array>
</plist>
